@import '../../variables';

.ticketList {
    display: grid;
    gap: 20px;
}

.list {
    list-style: none;
    display: grid;
    gap: 20px;
}

.noTickets {
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 680px) {
    .ticketList {
        gap: 15px;
    }

    .list {
        gap: 10px;
    }

    .noTickets {
        font-size: 13px;
    }
}