@import '../../variables';

.ticketList {
    display: grid;
    gap: 20px;
}

.list {
    list-style: none;
    display: grid;
    gap: 20px;
}

.button {
    width: 100%;
    height: 50px;
    background-color: $blue-color;
    color: $white-color;
    text-transform: uppercase;
    border-radius: $border-radius;
    border: none;

    &:hover {
        cursor: pointer;
    }
}

@media (max-width: 680px) {
    .ticketList {
        gap: 15px;
    }

    .list {
        gap: 10px;
    }
}